@font-face {
    font-family: 'aller_lightregular';
    src: url('~fonts/aller_lt-webfont.woff2') format('woff2'),
         url('~fonts/aller_lt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerbold';
    src: url('~fonts/aller_bd-webfont.woff2') format('woff2'),
         url('~fonts/aller_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*
  Elements font style
*/
body {
  font-family: $font-roboto;
  font-size: 15px;
  color: #000;
  font-weight: 300;
  line-height: 28px;
}
h1 {
  font-family: $font-aller-bold;
  font-size: 40px;
  line-height: initial;
  color: $color-aqua-dark;
}
h2 {
  font-family: $font-aller-regular;
  font-size: 35px;
  color: $color-aqua-dark;
}
h3 {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  color: $color-pirate;
}
h4 {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
  color: $color-pirate;
  text-transform: uppercase;
}
button,
a {
  font-family: $font-roboto;
  font-weight: 900;
  color: $color-pirate;
  letter-spacing: 2px;
  font-size: 15px;
}
.color-scooter {
  color: $color-scooter;
}
.color-flamingo {
  color: $color-flamingo;
}