#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contained {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.column {
  padding: 0.75rem 1.25rem;
}

hr {
  width: 15px;
  height: 4px;
  background-color: $color-skunk;
  margin-top: 15px;
  margin-bottom: 20px;
}

article,
article.columns {
  margin-top: 180px;
  margin-bottom: 100px;
}

.bck-cloud {
  background-color: $color-cloud;
}