#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contained {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;

  @include breakpoint(other, 1000px) {
    max-width: 960px;
  }
  @include breakpoint(other, 1300px) {
    max-width: 1140px;
  }
}

.is-spaced {
  justify-content: space-between;
}

.column {
  padding: 0.75rem 1.25rem;
}

hr {
  width: 15px;
  height: 4px;
  background-color: $color-skunk;
  margin-top: 15px;
  margin-bottom: 20px;
}

article,
article.columns {
  margin-top: 50px;
  @include breakpoint(tablet) {
    margin-top: 120px;
    margin-bottom: 80px;
  }
  @include breakpoint(desktop) {
    margin-top: 140px;
    margin-bottom: 100px;
  }
}

.bck-cloud {
  background-color: $color-cloud;
}

@media screen and (max-width: 640px) {
  .slick-slide li {
    display: block !important;
    margin: 0 auto;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  li {
    text-indent: -9999px;
    background: transparent;
    border: 1px solid $color-shuttle-gray;
    background: $color-shuttle-gray;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 40px !important;
    }

    &.slick-active {
      padding: 6px;
    }
  }
}

ul {
  list-style-type: none;
}

body {
  font-family: $font-roboto;
  font-size: 15px;
  color: #000;
  font-weight: 300;
  line-height: 28px;
}
h1 {
  font-family: $font-aller-bold;
  font-size: 35px;
  line-height: 50px;;
  color: $color-aqua-dark;
  
  @include breakpoint(tablet) {
    font-size: 40px;
  }
}
h2 {
  font-family: $font-aller-regular;
  font-size: 30px;
  margin-bottom: 25px;
  color: $color-aqua-dark;
  line-height: initial;

  @include breakpoint(tablet) {
    font-size: 35px;
    margin-bottom: 60px;
  }
}

h4 {
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}
.pre-title{
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: uppercase;
  color: $color-pirate;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}


h3 {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 15px;
  color: $color-pirate;
  text-transform: uppercase;
}
button,
a {
  font-family: $font-roboto;
  font-weight: 900;
  color: $color-pirate;
  letter-spacing: 2px;
  font-size: 15px;
}
.color-scooter {
  color: $color-scooter;
}
.color-flamingo {
  color: $color-flamingo;
}
.color-gray-chateau {
  color: $color-gray-chateau;
}
.color-princess-dark {
  color: $color-princess-dark;
}