@mixin breakpoint($point, $break: 0) {
  @if $point == tablet {
    @media screen and (min-width: 768px) { @content; }
  }
  @else if $point == desktop {
    @media screen and (min-width: 1024px) { @content; }
  }
  @else if $point == widescreen {
    @media screen and (min-width: 1216px) { @content; }
  }
  @else if $point == fullhd {
    @media screen and (max-width: 1408px) { @content; }
  }
  @else if $point == other {
    @media screen and (min-width: $break) { @content; }
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contained {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  @include breakpoint(widescreen) {
    max-width: 1140px;
  }
}

.is-spaced {
  justify-content: space-between;
}

.column {
  padding: 0.75rem 1.25rem;
}

hr {
  width: 15px;
  height: 4px;
  background-color: $color-skunk;
  margin-top: 15px;
  margin-bottom: 20px;
}

article,
article.columns {
  margin-top: 50px;
  @include breakpoint(tablet) {
    margin-top: 120px;
    margin-bottom: 80px;
  }
  @include breakpoint(desktop) {
    margin-top: 140px;
    margin-bottom: 100px;
  }
}

.bck-cloud {
  background-color: $color-cloud;
}

@media screen and (max-width: 640px) {
  .slick-slide li {
    display: block !important;
    margin: 0 auto;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  li {
    text-indent: -9999px;
    background: transparent;
    border: 1px solid $color-shuttle-gray;
    background: $color-shuttle-gray;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 40px !important;
    }

    &.slick-active {
      padding: 6px;
    }
  }
}

ul {
  list-style-type: none;
}