/*
    Colors:
*/

/* Neutral Colors */
$color-pirate: #03061a;
$color-cloud: #f2f6f9;
$color-catskill: #f5f8fa;
$color-shuttle-gray: #5f666f;
$color-shuttle-gray-2: #5a6a7e;
$color-gray-chateau:#989fa9;
$color-geyser: #d9dfe5;
$color-athens: #e8ecef;

/* Primary Colors */
$color-skunk: #7fd16b;
$color-skunk-dark: #3b5a33;
$color-skunk-light: #bbecb0;
$color-forest-green: #40aa28;
$color-sunny: #fece5c;
$color-sunny-dark: #e6a50c;
$color-sunny-light: #fee59b;
$color-aqua: #6ed2e1;
$color-scooter: #27C1D8;
$color-pacific: #00a2ba;
$color-aqua-dark: #0a1650;
$color-aqua-light: #aee9ed;
$color-princess: #ff7183;
$color-princess-dark: #fc4b62;
$color-princess-light: #fecec1;
$color-flamingo: #ef6839;
$color-flamingo-light: #fed3c2;
$color-fair-pink: #fff0e9; 
$color-provincial-pink: #fef4f0;

/* Menu */
$color-menu-lighten-princess: #fff9f7;
$color-menu-lighten-aqua: #f4feff;
$color-menu-lighten-skunk: #f7fff5;

/* Fonts */
$alternatives-fonts: "Helvetica Neue", Helvetica, sans-serif;

$font-aller-regular: 'aller_lightregular', $alternatives-fonts;
$font-aller-bold: 'allerbold', $alternatives-fonts;
$font-roboto: 'Roboto', $alternatives-fonts;


/* Transitions speed */
$slow-animation: 0.5s;
$fast-animation: 0.25s;
