.btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  margin-top: 40px;
  padding: 10px 15px 10px 20px;
  transition: all $fast-animation ease-in-out;
  min-width: 180px;
  margin-left: 50%;
  transform: translateX(-50%);
  @include breakpoint(tablet) {
    min-width: 170px;
    margin-left: auto;
    transform: translateX(0);
  }

  [class^="icon-"]{
    margin-left: 5px;
    font-size: 14px;
  }
}

.btn-primary {
  background-color: #fff;
  color: $color-aqua-dark;
  border-color: $color-aqua-dark;


  .icon-arrow--right {
    transition: margin-left $fast-animation ease-in-out;
   &::before {
      color: $color-aqua-dark;
    }
  }  

  &:hover {
    border-color: lighten($color-aqua-dark, 20%);
    color: lighten($color-aqua-dark, 20%);


    .icon-arrow--right {
      margin-left: 8px;
      &::before {
        color: lighten($color-aqua-dark, 20%);
      }
    }
  }
}

.btn-secondary {
  background-color: $color-aqua-dark;
  color: #fff;
  border-color: $color-aqua-dark;
  
  @include breakpoint(other, 480px) {
    margin-right: 25px;
  }

  &:hover {
    background-color: lighten($color-aqua-dark, 10%);
    border-color: lighten($color-aqua-dark, 10%);
    color: lighten(#fff, 10%)
  }
}




.btn-extended {
  min-width: 250px;

}

.input-search {
  input {
    border: none;
    padding: 13px 10px 13px 20px;
    border-radius: 30px;
    outline: 0;
    margin: 10px 0;

    @include breakpoint(tablet) {
      padding: 13px 40px 13px 20px;
    }

    @include breakpoint(other, 1300px) {
      padding: 13px 100px 13px 20px;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  
    &::placeholder {
      font-size: 10px;
      color: $color-aqua-dark;
      text-transform: uppercase;
      font-weight: 900;
      min-width: 260px;

      @include breakpoint(tablet) {
        font-size: 12px;
      }
    }
  }

  .icon-search {
    margin-left: -40px;  
    .path2:before {
      color: $color-aqua-dark;
    }
  }
}

.select {
  height: 100% !important;
  position: relative;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    border:none;
    height: 100%;
    background-color:#fff;
    color: $color-aqua-dark;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-aqua-dark;
    padding: 10px 20px; 
    border-radius: 30px;
    outline: 0;


    @include breakpoint(tablet) {
      font-size: 12px;
    }
  }

  &:not(.is-multiple):not(.is-loading)::after {
    display: none;
  }

  .icon-select {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;


    @include breakpoint(tablet) {
      right: 25px;
    }
  }

}

.select select:not([multiple]) {
  padding-right: 3rem;
  @include breakpoint(tablet) {
    padding-right: 50px;
  }
}