@media screen and (max-width: 640px) {
  .slick-slide li {
    display: block !important;
    margin: 0 auto;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  li {
    text-indent: -9999px;
    background: transparent;
    border: 1px solid $color-shuttle-gray;
    background: $color-shuttle-gray;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 40px !important;
    }

    &.slick-active {
      padding: 6px;
    }
  }
}