.checklists-page {
  header {
    background-color: $color-fair-pink;
    flex-direction: row;

    padding: 50px 0 30px 0;

    @include breakpoint(other, 940px) {
      padding: 0;
    }

    h1 {
      margin-bottom: 50px;
    }

    img {
      display: none;
      @include breakpoint(other, 940px) {
        display: block;
        max-width: 50%;
      }

      @include breakpoint(widescreen) {
        max-width: 70%;
      }
      
    }
  }
}

.category-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    cursor: pointer;
    flex-basis: calc(100% / 5);
  
    &:nth-of-type(5n) {
      flex-basis: auto;
    }
  }
}

.category-list__content {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    min-width: 100px;
    margin-bottom: 40px;

  p {
    font-family: $font-aller-bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-gray-chateau;
    transition: color $fast-animation ease-in-out;
    max-width: 110px;
    letter-spacing: 1px;
    line-height: initial;

    @include breakpoint(tablet) {
      font-size: 14px;
    }
  }

  // .icon-category > span {
  //   padding: 20p;x
  // }

  &:hover {
    p{
      color: $color-shuttle-gray;
    }

    .icon-category > span {
      background-color: $color-cloud;
      border-color: $color-geyser;
    }
  }

  &.active {
    p {
      color: $color-flamingo;
    }

    .icon-category > span {
      background-color: $color-provincial-pink;
      border-color: $color-flamingo;

      &.icon-repair .path2:before,
      &.icon-mobile .path2:before,
      &.icon-flower .path9:before,
      &.icon-flower .path10:before,
      &.icon-flower .path11:before,
      &.icon-web .path10:before,
      &.icon-plant .path7:before,
      &.icon-data:before,
      &.icon-qualite-web .path2:before,
      &.icon-qualite-web .path3:before,
      &.icon-search .path2:before,
      &.icon-accessible--1:before,
      &.icon-accessible--2:before
      {
        color: $color-flamingo;
      }  
    }
  }
}

.icon-category {
  font-size: 30px;
  margin-bottom: 10px;
  
  & > span {
    display: inline-block;
    min-width: 70px;
    padding: 20px;
    font-size: 20px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $color-shuttle-gray-2;
    border-radius: 10px;
    transition: background-color, border-color $fast-animation ease-in-out;


    @include breakpoint(tablet) {
      padding: 30px; 
      min-width: 90px; 
      font-size: 30px;
    }
  }
}

.before-table{
  display: flex;
  height: 120px;
  background-color: $color-aqua-dark;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;  
  padding-left:10px;

  @include breakpoint(tablet) {
    padding-left: 0;
  }
  .icon {
    width: 80px;
    max-height: 80px;
    margin-left: 5px;
    margin-right: 5px;

    @include breakpoint(tablet) {
      margin-left: 15px;
      margin-right: 15px;
      width: 90px;
      max-height: 90px;      
    }
    
    & > span {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px; 
      font-size: 20px;

      &.icon-mobile {
        padding: 20px 26px;
      }

      @include breakpoint(tablet) {
        font-size: 30px;
        padding: 30px;

        &.icon-mobile {
          padding: 30px 36px;
        }
      }

      &.icon-qualite-web .path2:before,
      &.icon-qualite-web .path3:before,
      &.icon-mobile .path2:before,
      &.icon-search .path2:before,
      &.icon-repair .path2:before,
      &.icon-flower .path9:before,
      &.icon-flower .path10:before,
      &.icon-flower .path11:before,
      &.icon-web .path10:before,
      &.icon-accessible--1:before,
      &.icon-accessible--2:before,
      &.icon-plant .path7:before,
      &.icon-data:before {
        color: $color-aqua-dark;
      }


    }
  }
  
  & > .content {
    color: #fff;
    margin-right: 30px;
    margin-left: 10px;

    h2 {
      font-family: $font-aller-bold; 
      color: #fff;
      letter-spacing: 2px;
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      margin-bottom: 0;
      line-height: initial;
    }
    b {
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
    }
    
    @include breakpoint(tablet) {
      margin-right: 0;
      margin-left: 0;
      h2 {
        font-size: 18px;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

.header-list-rules {
  display: flex;
  background-color: $color-athens;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  flex-direction: column;
  padding: 15px 0;
  @include breakpoint(other, 540px) {
    flex-direction: row;
    padding: 0;
  }
  & > div {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 40px;

    & > p {
      display: none;
      font-size: 16px;
      color: $color-aqua-dark;
      font-weight: 900;

      @include breakpoint(tablet) {
        display: inline;
      }
    }

    .select {
      @include breakpoint(tablet) {
        margin: 0 60px 0 70px;
      }      
    }
  }
}

.list-rules {
  width: 100%;  
  position: relative;
  background-color: $color-catskill;
  margin-bottom: 50px;
  
  @include breakpoint(tablet) {
    max-height: 600px;
    overflow-y: auto;
  }



  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #0a1752;
    border: 0px none #ffffff;
    border-radius: 46px;
  }
  &::-webkit-scrollbar-track {
    background: #f5ffff;
    border: 0px none #ffffff;
    border-radius: 50px;
  }

  & > p {
    padding: 10px 0;
  }
  
  & > ul {
    margin: 0 20px;
  }

  hr {
    width: 100%;
    background-color: $color-geyser;
    height: 1px;
    margin: 0;
  }
  
  li {
    overflow: hidden;
    cursor: pointer;

    &:last-of-type {
      hr {
        display: none;
      }
    }
  }
}

.head_infos_rule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
  flex-direction: column;

  @include breakpoint(other, 580px) {
    flex-direction: row;
    align-items: flex-start;
  }
  & > div {
    display: flex;
    width: 100%;
    line-height: initial;
    flex-wrap: wrap;
    justify-content: space-between;


    
    span,
    .rubrique {
      flex-basis: 50%;  
    }

    .description {
      flex-basis: 100%;
    }

    @include breakpoint(other, 580px) {
      padding-right: 70px;
      line-height: inherit;
      flex-wrap: initial;
      justify-content: initial;

      span, 
      .rubrique,
      .description{
        flex-basis: auto;
      }
    }
  }

  .icon-chevron--bottom {
    font-size: 12px;
    padding: 0;
    cursor: pointer;
    transition: all $fast-animation ease-in-out;

    &.active {
      transform: rotate(180deg);
    }

    &::before {
      color: $color-aqua-dark;
    }

    @include breakpoint(tablet) {
      padding: 10px;  
    }

  }
   

  .rubrique {
    max-width: 160px;
    width: 100%;
    margin: 0;
    font-size: 13px;
    color: $color-aqua-dark;
    text-transform: uppercase;
    font-weight: 900;
    text-align: right;
    letter-spacing: 1px;

    @include breakpoint(other, 580px) {
      margin: 0 0 0 25px;
      text-align: left;
    }
    @include breakpoint(tablet) {
      margin: 0 60px 0 85px;
      
    }
  }
  .description {
    text-align: center;
    font-size: 14px;
    margin: 20px 0;

    @include breakpoint(other, 580px) {
      line-height: initial;
      text-align: left;
      margin: 0;
    }
  }


  p {
    font-size: 12px;

    @include breakpoint(tablet) {
      font-size: 14px;
    }
  }
}

.content_infos_rule {
  margin-left: 0;
  max-width: 100%;
  height: 0;
  
  
  @include breakpoint(tablet) {
    max-width: 70%;
    margin-left: 140px;
  }
  
  &.opened {
    height: 500px;
    height: 100%;
    margin-bottom: 30px;
  }

  p {
    line-height: initial;
    font-size: 14px;

    @include breakpoint(tablet) {
      font-size: inherit;
    }

  }

  h3 {
    font-size: 12px;
    color: #fff;
    display: inline-block;
    background-color: $color-aqua-dark;
    letter-spacing: 1px;
    padding: 10px 10px;
    line-height: 0;
    margin: 20px 0 15px 0;
    
    @include breakpoint(tablet){
      transform: translateX(-50px);
    }
  }

  .objectifs {
    p {
      &::before {
        content: '—';
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .solution_technique,
  .moyen_controle {
    ul {
      padding-left: 10px;
      margin-left:20px;
      list-style: disc;
      color: $color-aqua-dark;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    li {
      line-height: initial;

      p {
        color: #000;
      }
    }
  }

  hr {
    max-width: 50%;
    margin: 30px auto 0 auto;
  }
}

.join_us {
  padding: 30px;
  border: 2px solid $color-geyser;
  border-radius: 10px;

  h2 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
  }

  a {
    min-width: 325px;
  }
}