footer {
  margin-top: 95px;
  padding-top: 40px;
  background-color: $color-aqua-dark;
  position: relative;
  z-index: 1;
}

.footer {
  background-color: transparent;
  h4{ 
    color: #fff
  }
}

.footer-links {
  h4 {
    color: #fff;
  }
  li {
    cursor: pointer;
    display: block;
    color: #fff;
  }
}

.subfooter {
  background-color: #162158;
  div {
    display: flex;
    align-items: center;
    color: #fff;
  }
} 