footer {
  margin-top: 95px;
  padding-top: 40px;
  background-color: $color-aqua-dark;
  position: relative;
  z-index: 1;
}

.footer {
  background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  h4{ 
    color: #fff;
    margin-bottom: 15px;
  }
}


.contacts {
  order: 3;

  @include breakpoint(tablet) {
    order: initial;
  }
  flex-basis: 100%;
}

.footer-links {
  flex-basis: 50%;
  width: 50%;
  li {
    cursor: pointer;
    display: block;
    color: #fff;
  }
}

.adresse {
  order: 2;
  flex-basis: 50%;
  @include breakpoint(tablet) {
    order: initial;
  }
}

.newsletter {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  margin-bottom: 45px;
  overflow: hidden;
  margin-top: -3px;
  border: 1px solid #fff;
  border-radius: 30px;
  
  input[type="text"] {
    padding: 10px 10px 8px 30px;
    text-align: left;
    border: none;
    margin-bottom: 0;
    background: none;
    font-size: 16px;
    color: #fff;  
    outline:0;

    @include breakpoint(other, 420px) {
      padding: 10px 18% 8px 30px;
    }

    @include breakpoint(other, 470px){
      padding: 10px 26% 8px 30px;
    }
    @include breakpoint(other, 540px) {
      padding: 10px 21% 10px 20px;
      text-align: left;
    }

    @include breakpoint(other,1200px) {
      padding: 10px 100px 10px 20px;
    }
    &::placeholder {
      color: #fff;
    }
  }

  button[type="submit"] {
    background: #fff;
    cursor: pointer;
    padding: 15px 25px 15px 20px;

    p{
      display: none;
      border: none;
    }

    .icon-arrow--right {
      display: block;
      font-size: 16px;
      &:before {
        color: $color-aqua-dark;
      }
    }

    @include breakpoint(other, 480px) {
      p{
        display: block;
        font-size: 15px;
        color: $color-aqua-dark;
        text-transform: uppercase;
      }

      .icon-arrow--right {
        display: none;
      }
    }

  }
}

.socials {
  display: flex;
  align-items: center;
  
  span {
    &:before {
      color: #fff;
      transition: color $fast-animation ease-in-out;
    }
    &:hover {
      &:before {
        color: $color-shuttle-gray-2;
      }
    }
  }

  li {
    &:not(:last-of-type) {
      margin-right: 10px;
    }

  }

}

address {
  color: #fff;
  font-family: $font-roboto;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 30px;
}

p[itemprop="telephone"],
p[itemprop="telephone"] > a {
  color: #fff;
  font-weight: 900;
  font-size: 14px;
}

p[itemprop="telephone"] > a {
  letter-spacing: 0;
}


.subfooter {
  display: none;

  @include breakpoint(tablet) {
    display: block;
    background-color: #162158;
    div {
      display: flex;
      align-items: center;
      color: #fff;
      padding: 10px 0;
      font-size: 13px;
    }
  }
} 

