// items menus 12px uppercase letter spacing 
// items dropdown menu 16px

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  nav {
    min-width: 35%;
  }
}

.logo {
  max-width: 260px;
}

.main-items {
  & > li{
    font-family: $font-aller-regular;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
  .main-items__title {
    font-size: 16px;
    display: inline-block;
  }
}



.main-items__sublinks {
  position: absolute;
  left: 0;
  top: 50px;
  min-width: 300px;
  background-color: #fff;
  border: 1px solid $color-geyser;
  border-radius: 10px;
  padding: 10px 20px;
  transform: translate(-25%, 10px);
  opacity: 0;
  transition: all $fast-animation ease-in-out;

  &.active {
    opacity: 1;
    transform: translate(-25%, 0);
  }

  li {
    display: flex;
    align-items: center;
    line-height: 15px;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    transition: all $fast-animation ease-in-out;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    & > img {
      margin-right: 10px;
    }
  }



  &.certifs li:hover {
    background-color: #f7fff5;
    border-color: $color-skunk;
  }

  &.formations li:hover {
    background-color: #f4feff;
    border-color: $color-aqua;
  }

  &.practices li:hover {
    background-color: #fff9f7;
    border-color: $color-princess;   
  }

 
}

.main-items__sublink__content {
  p {
    font-size: 12px;
    font-family: $font-aller-bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  span {
    color: $color-shuttle-gray;
    font-size: 10px;
  }
}

.main-links {
  li {
    font-family: $font-aller-bold;
    text-transform: uppercase;
    cursor: pointer;
  }
}