header {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;

  @include breakpoint(desktop) {
    flex-direction: row;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;

    @include breakpoint(tablet) {
      flex-direction: row;
    }
  }
}

.logo  {
  max-width: 260px;
  display: block;
  margin: 0 auto 0 0;

  @include breakpoint(tablet) {
    margin: 0 auto;
  }

  @include breakpoint(desktop) {
    margin: 0 50px 0 0;
  }
}

.burger {
  position: absolute;
  right: 40px;
  top: 30px;
}

.main-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include breakpoint(tablet) {
    flex-direction: row;
    width: auto;
  }

  & > li{
    font-family: $font-aller-regular;
    position: relative;
    padding: 20px 10px;
    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }
  .main-items__title {
    font-size: 16px;
    display: inline-block;
  }
}



.main-items__sublinks {
  position: absolute;
  left: 0;
  top: 60px;
  min-width: 280px;
  background-color: #fff;
  border: 1px solid $color-geyser;
  transform: translate(-5%, 10px);
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  display: none;
  transition: transform, opacity 0.5s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    top: -13px;
    background: url('~assets/header/pique_bulle.svg') center no-repeat;
    left: 50%;
    transform: translateX(-50%);
  }
  
  @include breakpoint(desktop) {
    transform: translate(-15%, 10px);
  }

  &.active {
    opacity: 1;
    transform: translate(-5%, 0);
    display: block;

    @include breakpoint(desktop) {
      transform: translate(-15%, 0);
    }
  }

  li {
    display: flex;
    align-items: center;
    line-height: 15px;
    border-radius: 15px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    transition: all $fast-animation ease-in-out;
    cursor: pointer;
    padding: 10px 20px 10px 10px;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    & > img {
      width: 20px;
      margin-right: 10px;
    }

    .icon {
      margin-right: 10px;
      font-size: 18px;
    }
  }



  &.certifs li:hover,
  &.certifs .router-link-active {
    background-color: $color-menu-lighten-skunk;
    border-color: $color-skunk;
  }

  &.partenariat li:hover,
  &.partenariat .router-link-active {
    background-color: $color-menu-lighten-aqua;
    border-color: $color-aqua;
  }

  &.practices,
  &.practices .router-link-active {
    min-width: 240px;
    li:hover {
      background-color: $color-menu-lighten-princess;
      border-color: $color-flamingo;   
    }
  }

 
}

.main-items__sublink__content {
  p {
    font-size: 12px;
    font-family: $font-aller-bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  span {
    color: $color-shuttle-gray;
    font-size: 10px;
  }
}

.main-links {
  display: flex;

  li {
    font-family: $font-aller-bold;
    text-transform: uppercase;
    cursor: pointer;

    &.router-link-active {
      color: $color-forest-green;
    }

    &:first-of-type {
      margin-right: 30px;
    }
  }
}