.home-certification-1 {
  align-items: center;

  h1 {
    margin-bottom: 55px;
  }
  p {
    margin-bottom: 40px;
    max-width: 450px;
  }
}

.home-certification-2 {
  margin-top: 120px;
  h3 {
   margin-bottom: 10px; 
  }
  img {
    position: absolute;
    left: 0;
    transform: translateY(-120px);
  }
  p{
    margin-left: 50px;

    &:first-of-type {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    &:last-of-type{
      margin-bottom: 40px;
    }
  }
  a {
    margin-left: 50px;
  }
}

.home-evidence {
  background-color: $color-cloud;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    margin-bottom: 45px;
    max-width: 220px;
  }
}